<div class="main container">

  <div class="row">
    <div class="small-3 large-4 columns">
      <h2>Logo</h2>
    </div>
    <div class="small-9 large-8 columns">

      <div class="row">
        <div class="large-6 columns">
          <div class="row collapse">
            <div class="small-8 columns">
             <%= form_tag(bars_path, :method => :get) do%>
             <%= text_field_tag 'zipcode', nil, :placeholder => 'zipcode' %>
            </div>
            <div class="small-4 columns">
              <%= submit_tag 'Enter', :class => 'postfix' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="filter-bar">
    <div class="small-3 large-4 columns">
    </div>
    <div class="small-9 large-8 columns">

      <div class="row" id="filter-bar">
        <div class="large-6 columns" id="filter-bar">
          <div class="row collapse" id="filter-bar">
            <div class="small-8 columns">
            </div>
            <div class="small-4 columns" id="filter-bar">
               <a href="#" data-dropdown="drop1" id="filter-button" class="tiny button dropdown" class="bar-right" >Filter</a>
      <ul id="drop1" data-dropdown-content class="f-dropdown">
        <li><a href="#">Sun</a></li>
        <li><a href="#">Mon</a></li>
        <li><a href="#">Tues</a></li>
        <li><a href="#">Wed</a></li>
        <li><a href="#">Thurs</a></li>
        <li><a href="#">Fri</a></li>
        <li><a href="#">Sat</a></li>
      </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-12 columns">
      <% if @all_bars %>
        <% @all_bars.each do |b| %><%= b.name %>
          <%= b.location.display_address[0] %>
          <%= b.location.display_address[2] %>
          <%= b.url %>
        <% end %>
    	<% end %>
    </div>
  </div>
</div>

